<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <head>
        <%- include  ('../layouts/header') ; -%>

    </head>

        <%- include  ('../layouts/topmenu') ; -%>
        <%- include  ('../layouts/sidemenu') ; -%>
    <%- include  ('../layouts/boxed-body'); -%>

    <!-- BEGIN: Content-->
        <div class="app-content content" id="dash">
            <%- include  ('../layouts/loading'); -%>
          <div class="content-wrapper">
              <div class="content-wrapper-before"></div>
              <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                  <h3 class="content-header-title">Creators</h3>
                </div>
               
              </div>
            <div class="content-body" v-cloak>

  
        <div class="col-xl-4 col-lg-6 col-md-12" v-for="creator in creators">
                <div class="card bg-gradient-x-purple-red">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="align-self-top">
                                       
                                            <img :src="creator.profilepic" class="rounded-circle" width="120" height="120">
                                  
                                    </div>
                                    <div class="media-body text-white text-right align-self-bottom mt-3">
                                        <span class="d-block mb-1 font-medium-1">{{creator.name}}</span>
                                        <span class="d-block mb-1 font-medium-1">{{creator.email}}</span>
                                        
                                        <span class="d-block mb-1 font-medium-1"><a :href="'/creator/' + creator._id"> View Profile</a></span>
                                        
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        



            </div>
          </div>
        </div>
        <!-- END: Content-->

        <%- include  ('../layouts/footer'); -%>
        <script>
            new Vue({
              
             el: '#dash',
             mounted() {
                this.getData()
               
     
                 },
                 data() {
                     return {
     
                         error:"",
                         creators:{},
                         
                     };
                 },
                
                 methods: {
                     
     
                     async getData() {
     
                         let that = this;
                         $("#loading" ).show();
                         try{
     
                             const response = await axios.get('/api/creators');
                             $("#loading" ).hide();
                  
                             that.results=response.data;
     
                             if(!response.data.success){
     
                               that.error=response.data.error
                             }else{
                               that.creators = response.data.creators
                             }
     
                             
     
     
                         }catch(err){
                             $("#loading" ).hide();
                             that.error=err
     
                         }
     
     
                        
                     }
                 },
                
     
         });
     
         </script>





